html {
    background-color: rgb(134, 222, 225);
}

body {
    margin: 0;
}

.branded-border {
    border-bottom: 4px dotted pink;
    padding-bottom: 10px; 
}

.main-header {
    background-color: darkolivegreen;
    padding: 30px;
}

.viburnums-header {
    background-color: rgb(251, 71, 161);
    color: beige;
    padding: 30px;
    margin-bottom: 20px;
}

.nav-links {
    color: rgb(255, 247, 187);
    background-color: brown;
}

.nav-links:hover {
    color: darkseagreen;
    background-color: rgb(255, 6, 189);
    font-size: 30px;
}

.nav-links:visited {
    border: 1px solid rgb(0, 0, 0);
}

.nav-links:active {
    font-size: 40px;
}

.nav-links:focus {
    padding: 10px;
}

.viburnums-main {
    background-color: rgb(255, 121, 188);
    padding: 30px;
    margin-bottom: 20px;
}

.viburnums-footer {
    background-color: deeppink;
    padding: 30px;
}

